AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_IMAGE_NAME=apache/airflow:3.2.0
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW__API_AUTH__JWT_SECRET=airflow_jwt_secret_change_in_prod
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

# Cle de chiffrement Airflow (obligatoire en production)
# Generer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=

# Connexions Airflow - SmartCity
# Adaptez si les noms de services Docker different.
AIRFLOW_CONN_SENSOR_API=http://sensor-simulator:5000
AIRFLOW_CONN_SMARTCITY_TIMESCALEDB=postgresql://smartcity_user:smartcity_password@timescaledb:5432/smartcity
AIRFLOW_CONN_MINIO_LOCAL=aws://minio_admin:minio_password_2026@?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1

# TimescaleDB (DWH SmartCity)
TIMESCALEDB_USER=smartcity_user
TIMESCALEDB_PASSWORD=smartcity_password
TIMESCALEDB_DB=smartcity

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password_2026

# Grafana
GRAFANA_ADMIN_PASSWORD=admin
