AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
AIRFLOW_IMAGE_NAME=apache/airflow:3.1.8
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Adaptez ces connexions si vos services n'ont pas ces noms.
AIRFLOW_CONN_SENSOR_API=http://api:8000
AIRFLOW_CONN_SMARTCITY_TIMESCALEDB=postgresql://smartcity_user:smartcity_password@timescaledb:5432/smartcity
AIRFLOW_CONN_MINIO_LOCAL=aws://minio_admin:minio_password_2026@?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1
